@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.pact {
  border-right: solid 3px rgba(247, 226, 197);
  white-space: nowrap;
  overflow: hidden;
  color: rgba(247, 226, 197);
  margin: 0 auto;
}

/* Animation */
.pact {
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }

  to {
    width: 220px;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: rgba(247, 226, 197);
  }

  to {
    border-right-color: transparent;
  }
}

